/**
*
*	Name:			DANA Fonts
*	Version:			3.0
*	Author:			Moslem Ebrahimi (moslemebrahimi.com)
*	Created on:		nov 12, 2021
*	Updated on:		nov 12, 2021
**/

@font-face {
    font-family: dana;
	font-weight: normal;
	src: url('woff2/Dana-Regular.woff2') format('woff2'),
         url('woff/Dana-Regular.woff') format('woff');
}
@font-face {
    font-family: dana;
	font-weight: 500;
    src: url('woff2/Dana-Medium.woff2') format('woff2'),
	    url('woff/Dana-Medium.woff') format('woff');
}
